<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Data Listhutang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Data Listhutang
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Tarik Untuk Memuat Data"
        refreshingSpinner="circles" refreshingText="Memuat Ulang Data...">
      </ion-refresher-content>
    </ion-refresher>
    <hr>
    <ion-card>
      <ion-button color="success" expand="block" [routerLink]="['/listhutang_tambah']">Tambah Listhutang</ion-button>
    </ion-card>
    <hr>
    <ion-card *ngFor="let item of lists">
      <ion-item>
        <ion-label>
         {{item.id}}
								<p>{{item.nama_penghutang}}</p>
								<p>{{item.tanggal_hutang}}</p>
								<p>{{item.batas_tanggal_hutang}}</p>
								<p>{{item.jumlah_hutang}}</p>
        </ion-label>
        <ion-button color="primary" slot="end" [routerLink]="['/listhutang_edit/',item.id]"
          routerLinkActive="router-link-active">Edit</ion-button>
        <ion-button color="danger" slot="end" (click)="deleteListhutang(item.id)">Hapus</ion-button>
      </ion-item>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Sedang Memuat Data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-content>
